<!DOCTYPE html> <!-- just means that this document has type html -->
<html>
	<head>
		<!-- <title> the name on the tab -->
		<title>
			Kaushik Donthi
		</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<script>
			function onClickButton (self) {

			}
		</script>
	</head>
	<body>
		<h1>
			The man. The myth. The legend.
		</h1>
		<p>
			Prophets have talked about his birth for 1000s of years.
		</p>
		<p>
			What has he done?
		</p>

		<img src="https://miro.medium.com/fit/c/1360/1360/0*nhEweQOqljR3UkMZ.">
		<b>List of Accomplishments</b> <br>
		<ol>
			<li>Been to space</li>
			<li>Certified Thug</li>
			<li>Not a rapper</li>
		</ol>
	</body>
</html>
